.heading{
    text-align: center;
    text-decoration: wavy;
    font-weight: 400px;
    font-family: 'Bebas Neue', cursive;
    background-color: black;
    color: white;
}
.contactus{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}
body{
    background-color: rgb(231, 218, 218);
}
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
.car{
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    text-align: center;
}
.icons{
    margin-left: 600px;
}

.fa, .fa-instagram, .fa-twitter, .fa-facebook {
    padding-right: 10px;
}
a{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    text-align: right;
    color: black;
    margin-left: 480px;
    text-decoration: none;
}

