.here{
    font-family: 'raleway';
    color: black;
    font-size: 14px;
    float: center;
    text-align: right;
    text-decoration: none;
    padding-left: 20px;
    font-size: 25px;
    font-weight: 100;
    line-height: 35px;
    color: black;
    font-family: 'Raleway', sans-serif;
     margin-right: 20px;
     text-align: center;
     transition: 0.5; 
}
